In [1]:
# pip install pandas

In [2]:
import pandas as pd

In [3]:
# Video 18 done

In [31]:
# PANDAS SERIES

In [4]:
pd.__version__ # check version

'1.2.4'

In [6]:
list_s = [1,2, -3, 6.2,'data values']
print(list_s)

[1, 2, -3, 6.2, 'data values']

In [7]:
series1 = pd.Series(list_s) # create series
print(series1)

0              1
1              2
2             -3
3            6.2
4    data values
dtype: object

In [8]:
type(series1) # check type

pandas.core.series.Series

In [9]:
series2 = pd.Series([1,2,3,4]) # create series on short way
print(series2)

0    1
1    2
2    3
3    4
dtype: int64

In [10]:
empty_s = pd.Series([]) # create empty series
print(empty_s)

Series([], dtype: float64)

<ipython-input-10-22accf230ce3>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_s = pd.Series([]) # create empty series

In [12]:
series3 = pd.Series([1,2,3,4], index=['a','b','c','d']) # create series on short way with custom index. valu and index allwage should be equel
print(series3)

a    1
b    2
c    3
d    4
dtype: int64

In [13]:
series3 = pd.Series([1,2,3,4], index=['a','b','c','d'],dtype= float) # create series on short way with custom index. valu and index allwage should be equel
print(series3)

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [14]:
series3 = pd.Series([1,2,3,4], index=['a','b','c','d'],dtype= float,name = 'data values') # create series on short way with custom index. valu and index allwage should be equel
print(series3)

a    1.0
b    2.0
c    3.0
d    4.0
Name: data values, dtype: float64

In [15]:
scalear_s = pd.Series(0.5)
print(scalear_s)

0    0.5
dtype: float64

In [16]:
scalear_s = pd.Series(0.5, index=[1,2,3])
print(scalear_s)

1    0.5
2    0.5
3    0.5
dtype: float64

In [17]:
dict_s = pd.Series({'a' : 1, 'b': 2})
print(dict_s)

a    1
b    2
dtype: int64

In [18]:
s4 = pd.Series([1,2,3,4,5])
print(s4)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [19]:
s4[0]

1

In [20]:
s4[3]

4

In [21]:
s4[0:3] # sliceing

0    1
1    2
2    3
dtype: int64

In [22]:
max(s4) # findoout max valu

5

In [23]:
min(s4) # find out min valu

1

In [24]:
s4[ s4 > 3 ] # find valu getter then 3

3    4
4    5
dtype: int64

In [25]:
s4

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [26]:
s5 = pd.Series([1,2,3,4,5])
print(s5)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [27]:
print(s4)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [28]:
s4 + s5

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [29]:
s6 = pd.Series([1,2,3])
print(s6)

0    1
1    2
2    3
dtype: int64

In [30]:
s5 + s6

0    2.0
1    4.0
2    6.0
3    NaN
4    NaN
dtype: float64

In [ ]:
# VIDEO 19 DONE